
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="sidenav bgcolor-navyblue">
    <div class="sidenav-large">
        <div class="row text-center">
            <img class="icon" src="~/images/Icon.jpg" alt="ProfilePic">
        </div>
        <div class="row fontsize-lg text-center">
            Jack Sonsalla
        </div>
        <div class="row fontsize-md text-center">
            Full Stack Developer
        </div>
    </div>
    <a href="#" class="sidenav-small fontsize-lg">About</a>
    <a href="#" class="sidenav-small fontsize-lg">Experiences</a>
    <a href="#" class="sidenav-small fontsize-lg">Projects</a>
    <a href="#" class="sidenav-small fontsize-lg">Skills</a>
    <a href="#" class="sidenav-small fontsize-lg">Education</a>
    <a href="#" class="sidenav-small fontsize-lg">Contact</a>
    <a href="#" class="sidenav-small fontsize-lg">Resume</a>
</div>

<!-- Page content -->
<div>
    ...
</div>
