body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

img {
    width: 75%;
}

.icon {
    border-radius: 50%;
}

.bgcolor-lightgray {
    background-color: #D3D3D3;
}

.bgcolor-navyblue {
    background-color: #273682;
}

.bgcolor-purple {
    background-color: #7a2782;
}

.bgcolor-white {
    background-color: white;
}


.fontsize-sm {
    font-size: 12px
}

.fontsize-md {
    font-size: 16px;
}

.fontsize-lg {
    font-size: 24px;
}

.fontsize-xlg {
    font-size: 32px;
}

.rowspacing-sm {
    padding-bottom: 5px;
}

.rowspacing-md {
    padding-bottom: 10px;
}

.rowspacing-lg {
    padding-bottom: 15px;
}

.rowspacing-xlg {
    padding-bottom: 20px;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    /* The navigation menu links */
    .sidenav .sidenav-small {
        padding: 6px 8px 6px 32px;
        text-decoration: none;
        color: #f1f1f1;
        display: block;
    }

    .sidenav .sidenav-large {
        padding: 5px 32px 32px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
    }

    .sidenav-active {
        background-color: white;
        color: black !important;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: gray;
    }

/* Style page content */
.main {
    margin-left: 15%; /* Same as the width of the sidebar */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.header-box {
    height: 75px;
    width: 97%;
    color: white;
}

.header-boxspace {
    width: 3%;
}

.header-text {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    font-size: 42px;
}
